---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #eee;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

header {
  background-image: url('{{ site.baseurl }}/img/header_rs.png');
}

footer {
  background-image: url('{{ site.baseurl }}/img/footer_rs.png');
  bottom: 0;
  position: fixed;
  width: 100%;
}

.text-box {
  background-color: #237a3c;
  padding: 1px;
  opacity: 0.5;
  box-shadow: 0 0 5px 10px #237a3c;
}

.wrapper {
    max-width: -webkit-calc(1400px - (30px * 2));
    max-width: calc(1400px - (30px * 2));
  }

.site-title, .site-title:visited {
    color: #ddd;
}

.footer-heading{
  color: #ddd;
}

a.page-link{
  color: #ddd;
}
a.page-link:visited{
  color: #ddd;
}

h1.post-title{
  text-align: center;
  color: #ddd;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(30% - (30px / 2));
  margin-right: 50px;}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(30% - (30px / 2));
  margin-right: 50px;}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.page-content{
  width: 100%;
  height: 100%;
}

.link-pane{
  height: 400px;
  width: 50%;
  float: left;
}

@media (max-width: 600px){
  .link-pane{
    margin-left: 5%;

    height: 150px;
    width: 100%;
    float: none;
    margin-bottom:3px;
  }


  div.left-page{
    opacity: 0.7;
    height: 100%;
    border: 1px solid black;
    border-radius: 50px 0px 0px 0px;
    justify-content: center;


  }
  div.right-page{
    background-color: blue;
    opacity: 0.7;
    height: 100%;
    border: 2px solid gray;
    border-radius: 0px 0px 50px 0px;
    justify-content: center;

  }
  div.left-page.front-link{
    font-size: 80px;
  }
  div.right-page.front-link{
    font-size: 80px;
  }



}

.background-left{
  background-image: url('{{ site.baseurl }}/img/left_pane_rs.png');
}

.background-right{
  background-image: url('{{ site.baseurl }}/img/right_pane_rs.png');
}

.front-link{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 120px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;
color:white;
display:flex;
align-items: center;
justify-content: center;
}

.front-link:hover{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 24px;
font-style: normal;
font-variant: normal;
font-weight: 500;
line-height: 26.4px;
color:red;
background-color: white;
transition: all 2s;
}



.left-page{
  width: 90%;
  background-color: red;
  opacity: 0.7;
  height: 100%;
  border: 1px solid black;
  border-radius: 0px 0px 0px 50px;
  justify-content: center;


}
.right-page{
  width: 90%;
  background-color: blue;
  opacity: 0.7;
  height: 100%;
  border: 2px solid gray;
  border-radius: 0px 0px 50px 0px;
  justify-content: center;

}

/*** HEX CONTENT **********************************************************************/



body {
    background: #237a3c;
    background-image: url('{{ site.baseurl }}/img/centre_bg.png');
}



* {
    margin: 0;
    padding: 0;
}

#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding:0.866% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
#hexGrid:after {
    content: "";
    display: block;
    clear: both;
}
.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
            transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}
.hex * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexIn {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #888;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1, .hex p {
    width: 102%;
    left:-1%; /* prevent line on the right where background doesn't cover image */
    padding: 5%;
    box-sizing:border-box;
    background-color: rgba(35, 122, 60, 0.63);
    color: #fff;
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
            transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.3em;
    font-family: 'Bungee Inline', cursive;
    z-index: 1;
    -webkit-transform:translateY(-100%) translatez(-1px);
        -ms-transform:translateY(-100%) translatez(-1px);
            transform:translateY(-100%) translatez(-1px);
}
.hex h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 3px solid #fff;
}
.hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translateY(100%) translatez(-1px);
        -ms-transform:translateY(100%) translatez(-1px);
            transform:translateY(100%) translatez(-1px);
}


.post-header{
  padding-top: 1.2em;
}

.post-meta{
  margin-left: 3em;
  padding-bottom: 0.5em;
}

.post{
  background-color: rgba(96, 183, 121, 0.83);
  padding:2em;
  margin: 3em;

}



/*** HOVER EFFECT  **********************************************************************/
.hexIn:hover h1, .hexIn:focus h1,
.hexIn:hover p, .hexIn:focus p{
    -webkit-transform:translateY(0%) translatez(-1px);
        -ms-transform:translateY(0%) translatez(-1px);
            transform:translateY(0%) translatez(-1px);
}




/*** SPACING AND SIZING - HEXES *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
    .hex {
        width: 19.2%; /* = (100-4) / 5 */
        padding-bottom: 22.170%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(9n+6),
    .hex:nth-child(9n+7),
    .hex:nth-child(9n+8),
    .hex:nth-child(9n+9) {
        margin-top: -4.676%;
        margin-bottom: -4.676%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(9n+6):last-child,
    .hex:nth-child(9n+7):last-child,
    .hex:nth-child(9n+8):last-child,
    .hex:nth-child(9n+9):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(9n+6) {
        margin-left: 0.5%;
        clear: left;
    }
    .hex:nth-child(9n+10) {
        clear: left;
    }
    .hex:nth-child(9n+2),
    .hex:nth-child(9n+ 7) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(9n+3),
    .hex:nth-child(9n+4),
    .hex:nth-child(9n+8) {
        margin-right: 1%;
    }
}
@media (max-width: 1200px) and (min-width:901px) {/* <- 4-3  hexagons per row */
    .hex {
        width: 24.25%; /* = (100-3) / 4 */
        padding-bottom: 28.001%; /* =  width / sin(60deg) */
    }
    .hex:nth-child(7n+5),
    .hex:nth-child(7n+6),
    .hex:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(7n+5):last-child,
    .hex:nth-child(7n+6):last-child,
    .hex:nth-child(7n+7):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(7n+2),
    .hex:nth-child(7n+6) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(7n+3) {
        margin-right: 1%;
    }
    .hex:nth-child(7n+8) {
        clear: left;
    }
    .hex:nth-child(7n+5) {
        clear: left;
        margin-left: 0.5%;
    }
}
@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
    .hex {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+4):last-child,
    .hex:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
    .hex:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(5n+6) {
        clear: left;
    }
}
@media (max-width: 600px) { /* <- 2-1  hexagons per row */
    .hex {
        width: 49.5%; /* = (100-1) / 2 */
        padding-bottom: 57.158%; /* =  width / sin(60) */
    }
    .hex:nth-child(3n+3) {
        margin-top: -13.423%;
        margin-bottom: -13.423%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(3n+3):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(3n+3) {
        margin-left: 0.5%;
    }
    .hex:nth-child(3n+2) {
        margin-left: 1%;
    }
    .hex:nth-child(3n+4) {
        clear: left;
    }
}
@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

div.social-media-header{
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  float:right;
}
div.social-media-header a{
  padding: 0.75em;
}
a span svg:hover{
  fill: fff;
}
a.site-title{
  padding-top: 0.55em;
}

@media (max-width: 600px) {
  a.site-title{
    padding-top: 0em;
  }
  div.social-media-header a{
    padding: 0.55em;
    margin-top: 0.3em;
  }
  header{
    right:0;
  }

}
