<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Maps, Node, Ruby, JS, Brian Bancroft">
    <meta name="keywords" content="Ruby, Maps, GIS, Cartography, Databases, Javascript, Node, Rails"/>
    <meta name="author" content="Brian Bancroft" />
    <meta name="copyright" content="Brian Bancroft" />
    <meta name="robots" content="follow"/>


    <!-- Twitter Card data -->
    <meta name="twitter:card" content="{{ page.title }}">
    <meta name="twitter:site" content="@brian_bancroft">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="A blog on node, rails, javascript, mapping, cartography, and GIS">
    <meta name="twitter:creator" content="@brian_bancroft">
    <-- Twitter Summary card images must be at least 120x120px -->

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:type" content="{{ page.title }}" />
    <meta property="og:url" content="http://brianbancroft.io/" />
    <meta property="og:description" content="Brian Bancroft's web blog'" /> 
    <meta property="og:site_name" content="brianbancroft.io" />


    <title>{{ page.title }}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/assets/img/favicon.ico" | prepend: site.baseurl }}" />

    <!-- Come and get me RSS readers -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">
    <!--[if IE 8]><link rel="stylesheet" href="{{ "/assets/css/ie.css" | prepend: site.baseurl }}"><![endif]-->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Modernizr -->
    <script src="{{ "/assets/js/modernizr.custom.15390.js" | prepend: site.baseurl }}" type="text/javascript"></script>

    {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>
